<!DOCTYPE html>
<html>
<head>
  <title>Paste-bin with Sinatra</title>
  <link href="/stylesheets/paste-sin.css" media="screen" rel="stylesheet" type="text/css" />
  <link href="/stylesheets/style.css" media="screen" rel="stylesheet" type="text/css" />
</head>
<body>
  <div id="header">
  </div>
  
  <div id="content">
    <%= yield %>
  </div>
  
  <div id="footer">
  </div>
</body>
</html>
